table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-size: 1.5em;
}

thead {
    background-color: darkslateblue;
    color: whitesmoke;
}

td, th {
    border: 0.15em solid darkblue;
    padding: 0.5em;
}